$gray-light: #f0f0f0;
$gray: #363337;
$rust: #D4664A;
$brown: #992b1d;
$white: #ffffff;

$transition-delay: 0.2s;
$hover-opacity: 0.8;
$active-opacity: 0.6;

$pdd-side: 50px;
$pdd-side-medium: 30px;
$pdd-side-small: 15px;

$pdd-top-bottom: 30px;
$pdd-top-bottom-medium: 20px;
$pdd-top-bottom-small: 15px;

$section-margin: 50px;

$bp-1440: 1440px;
$bp-1200: 1200px;
$bp-1024: 1024px;
$bp-990: 992px;
$bp-768: 768px;
$bp-560: 560px;
$bp-480: 480px;
$bp-360: 360px;