.button {
    @include transition;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 14px 15px;

    color: $gray;    
    text-decoration: none;
    font-family: inherit;
    font-weight: 500;
    white-space: nowrap;
    line-height: 1;
    font-size: 20px;

    background-color: $rust;
    border-radius: 12px;
    border: none;
    cursor: pointer; 

    svg {
        stroke: $gray;
    }
    
    &:hover,
    &:focus {
        background-color: $gray;
        color: $white;

        svg {
            stroke: $white;
        }
    }

    &:active {
        outline-color: $gray;
        transform: scale(0.96);
    }

    &--gray {
        background-color: $gray;
        color: $rust;
        outline-color: $gray;

        &:hover,
        &:focus {
            background-color: $white;
            color: $gray;
        }
    }

    &--empty {
        padding: 6px 10px;
        font-size: 16px;
        background: transparent;
        border: 1px solid $gray;
        border-radius: 8px;

        &:active {
            transform: scale(0.98);
        }
    }

    &--big {
        font-size: 24px;
        line-height: 1;
        padding: 14px 25px;
    }

    &--white-hover {
        &:hover {
            background-color: $white;
            color: $gray;
            outline-color: $rust;

            svg {
                stroke: $gray;
            }
        }

        &:active {
            background-color: $white;
            color: $rust;
        }
    }
}

@media (width <= $bp-414) {
    .button {
        white-space: unset;
    }
}