.activity {
    margin-top: $section-margin + $pdd-top-bottom;
    overflow: hidden;
}

.activity__slider {
    margin-top: $pdd-top-bottom;
    border-top: 1px solid $gray;    
}

.activity__wrapper {
   overflow: hidden;
}

@media (width <= $bp-560) {
    .activity {
        margin-top: $pdd-top-bottom;
    }
}