.b-img-grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
}

@media (width <= $bp-990) {
  .b-img-grid-2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (width <= $bp-560) {
  .b-img-grid-2 {
    grid-template-columns: 1fr;
  }
}