.b-img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    
    &--06 {
        grid-template-areas: 
        "project_01  project_02  project_03"
        "project_04  project_05  empty_01"
        "project_06  empty_02  more";        
    }

    &--05 {
        grid-template-areas: 
        "project_01  project_02  project_03"
        "project_04  empty_01  project_05"
        "empty_02  empty_03  more";  
    }

    &--04 {
        grid-template-areas: 
        "project_01  project_02  project_03"
        "project_04  empty_01  more";  
    }

    &--03 {
        grid-template-areas: 
        "project_01  project_02  project_03"
        "empty_01  empty_02  more";  
    }

    &--02 {
        grid-template-areas: 
        "project_01  project_02  more";  
    }

    &--01 {
        grid-template-areas: 
        "project_01  empty_01  more";  
    }
}

@media (width <= $bp-990) {
    .b-img-grid {
        grid-template-areas: unset !important;
        grid-template-columns: 1fr 1fr;
    }
}

@media (width <= $bp-560) {
    .b-img-grid {
        display: flex;
        flex-direction: column;
    }
}