.b-text-01 {
    display: flex;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
}

.b-text-01__left,
.b-text-01__right {
    padding-top: $pdd-top-bottom;
    padding-bottom: $pdd-top-bottom;

}

.b-text-01__left {
    padding-right: $pdd-side;
}

.b-text-01__right {
    flex-grow: 1;
    padding-left: $pdd-side;
    border-left: 1px solid $gray;
    opacity: 0;    

    &--big-text {
        font-weight: 350;
        font-size: 40px;
        line-height: 1.25;
    }
}

.b-text-01__right.animated--complited {
    animation: bounce_left 0.75s ease-out forwards;
}

@media (width <= $bp-1440) {
    .b-text-01__right--big-text {
        font-size: 36px;
    }
}

@media (width <= $bp-1024) {
    .b-text-01__right--big-text {
        font-size: 28px;
    }
}

@media (width <= $bp-990) {
    .b-text-01 {
        flex-direction: column;
    }

    .b-text-01__right {
        padding-left: 0;
        border: none;
    }

    .b-text-01__left {
        padding-right: 0;
    }
}

@media (width <= $bp-560) {
    .b-text-01__right.animated--complited {
        animation-duration: 0.5s;
    }
}

@media (width <= $bp-360) {
    .b-text-01__right--big-text {
        font-size: 24px;
    }

    .b-text-01__right {
        padding-top: 0;
    }
}