.breadcrumbs {
    padding-top: 15px;
    padding-bottom: 5px;

    background-color: $gray;
    border-top: 1px solid $rust;
    color: $rust;
}

@media (width <= $bp-768) {
    .breadcrumbs {
        display: none;
    }
}