.editor-quote {
    padding: 15px 30px;
    margin-top: 30px;
    margin-bottom: 30px;

    font-style: italic !important;
    font-size: 20px;
    line-height: 1.5;

    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
}

.editor-title {
    font-size: 28px;
    line-height: 1.3;
    font-weight: 300;
}

@media (width <= $bp-560) {
    .editor-quote {
        padding: 15px 0;
    }

    .editor-title {
        font-size: 24px;
        line-height: 1.5;
    }
}

@media (width <= $bp-560) {
    .editor-title {
        font-size: 20px;
        line-height: 1.5;
        font-weight: 400;
    }
}

@media (width <= $bp-360) {
    .editor-title {
        font-size: 18px;
        line-height: 1.5;
        font-weight: 600;
    }

    .editor-quote {
        font-size: 18px;
        line-height: 1.5;
    }
}