.footer {
    padding-top: $pdd-top-bottom;
    margin-top: $section-margin;
    background-color: $rust;
    overflow: hidden;
}

.footer__logo {
    width: 100%;
    height: auto;
    margin-top: 100px;
    margin-bottom: -40px;
    overflow: hidden;
    opacity: 0;

    svg {
        width: 100%;
        height: auto;
        fill: $gray;
    }
}

@keyframes bounce_bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    60% {
        transform: translateY(-3px);
    }
    80% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.footer__logo.animated--complited {
    animation: bounce_bottom 0.5s ease-out forwards;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}