.footer {
    padding-top: $pdd-top-bottom;
    margin-top: $section-margin;
    background-color: $rust;
    overflow: hidden;

    &--404 {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 400;

        width: 100%;
        height: auto;
        padding: $pdd-top-bottom $pdd-side;

        color: $rust;
        background-color: unset;
    }
}

.footer__logo {
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: -40px;
    overflow: hidden;
    opacity: 0;

    svg {
        width: 100%;
        height: auto;
        fill: $gray;
    }

    &--small {
        display: none;
    }
}

.footer__logo.animated--complited {
    animation: bounce_bottom 0.5s ease-out forwards;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    text-wrap: nowrap;
}

@media (width <= $bp-1440) {
    .footer__info {
        align-items: flex-start;
    }
}

@media (width <= $bp-1200) {
    .footer__logo {
        margin-bottom: -25px;
    }
}

@media (width <= $bp-1024) {
    .footer__info {
        flex-direction: column;
    }    

    .footer__copyright {
        margin-top: 30px !important;
    }
}

@media (width <= $bp-990) {
    .footer__info {
        flex-direction: column;
        align-items: center;
    }

    .footer__menu-list {
        width: 100%;
        justify-content: center;
    }    

    .footer__logo {
        margin-top: 50px;    

        &--full {
            display: none !important;
        }

        &--small {
            display: block;
        }
    }
}

@media (width <= $bp-990) {
    .footer {
        &--404 {
            display: none;
        }
    }
}