.header-inner {
    position: relative;

    display: flex;
    flex-direction: column;
    padding-top: $pdd-top-bottom;
    
    background: $gray;
    overflow: hidden;

    &--404 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 300;

        width: 100%;
        height: 100vh;
    }
}

.header-inner__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header-inner__logo {
    width: 180px;

    svg {
        fill: $rust;
    }    
}

.header-inner__bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 90;

    width: 100%;
    height: 4000px;

    background: url('/images/muza_pattern_rust.webp') 0 0;
    background-size: auto;
    animation: bg_move_2 180s linear infinite;
}

.header-inner__breadcrumbs,
.header-inner__top {
    position: relative;    
}

.header-inner__breadcrumbs {
    z-index: 100;
}

.header-inner__top {
    z-index: 1000;
}

.header-inner__error {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 300;

    width: 100%;
    max-width: calc(100% - 2 * $pdd-side);
    transform: translate(-50%, 10%);
    
    svg {
        fill: $gray;
        stroke-width: 0.4px;
        stroke: $rust;
    }
}

@media (width <= $bp-1200) {
    .header-inner__error {
        svg {
            stroke-width: 0.45px;            
        }
    }
}

@media (width <= $bp-1024) {
    .header-inner__error {
        svg {
            stroke-width: 0.6px;            
        }
    }
}

@media (width <= $bp-990) {
    .header-inner__logo {
        width: 100%;
        margin-right: 118px;
    }

    .header-inner__error {
        svg {
            stroke-width: 0.55px;            
        }
    }
}

@media (width <= $bp-768) {
    .header-inner__error {
        svg {
            stroke-width: 0.7px;            
        }
    }
}

@media (width <= $bp-560) {
    .header-inner__logo {
        width: 100%;
        margin-right: 100px;
    }

    .header-inner__error {
        max-width: calc(100% - 2 * $pdd-side-medium);

        svg {
            stroke-width: 1.2px;            
        }
    }
}

@media (width <= $bp-480) {
    .header-inner__error {
        max-width: unset;
        width: 120%;

        svg {
            stroke-width: 1.5px;            
        }
    }
}

@media (width <= $bp-360) {
    .header-inner__error {
        svg {
            stroke-width: 1.5px;            
        }
    }
}