.lang {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 0 15px;

    text-transform: uppercase;
    color: $rust;
    background-color: $gray;
    border-radius: 12px;

    &--border {
        border: 1px solid $rust;
    }

    a, span {
        padding: 5px 5px
    }

    a {
        color: $white;

        &:hover,
        &:focus {
            text-decoration: none;
            opacity: 0.8;
        }

        &:active {
            color: $rust;
        }
    }
}

@media (width <= $bp-1024) {
    .lang {
        flex-direction: column;
        gap: 0;
        padding: 0;
        width: 60px;
        
        font-size: 14px;
        color: $gray;
        background-color: $white;
        border: 1px solid $gray;

        a {
            color: $rust;
        }
    }
}


@media (width <= $bp-360) {
    .lang {
        width: 50px;
    }
}