.menu {
    display: flex;
    gap: 10px;

    &--inversed {
        .menu__wrapper {
            order: 1;
            background-color: transparent;
            border: 1px solid $gray;

            a {
                font-weight: 600;
                outline-color: $gray;

                &:hover,
                &:focus {
                    color: $rust;
                    background-color: $gray;
                }

                &:active {
                    color: $gray;
                    background-color: $white
                } 
            }
        }
    }
}

.menu__wrapper {
    @include list-reset;

    display: flex;
    padding: 0;
    background-color: $white;
    border-radius: 12px;
    overflow: hidden;

    a {
        display: inline-block;
        padding: 14px 16px;

        text-decoration: none;
        color: $gray;
        font-size: 20px;
        line-height: 1;
        border-radius: 0;

        &:hover,
        &:focus {
            color: $rust;
            background-color: $gray-light;
        }

        &:active {
            color: $gray;
            background-color: $rust;
        }        
    }

    li {
        display: flex;


    }

    li:first-of-type a {
        padding-left: 20px;
    }
    li:last-of-type a {
        padding-right: 20px;
    }
}

