.posts-archive__wrapper {
    position: relative;    
    border-bottom: 1px solid $gray;
    border-top: 1px solid $gray;
}

.posts-archive__inner {
    position: relative;
    margin-top: -1px;
    margin-bottom: -1px;

    &::after,
    &::before {
        position: absolute;
        top: 0;

        width: 1px;
        height: 100%;

        background-color: $gray;

        content: '';
    }

    &::after {
        right: $pdd-side;
    }

    &::before {
        left: $pdd-side;    
    }
}

.posts-archive__item {
    border: none;
    border: 1px solid $gray;
}

@media (width <= $bp-560) {
    .posts-archive__inner {
        &::after {
            right: $pdd-side-medium;
        }

        &::before {
            left: $pdd-side-medium;    
        }
    }
}

@media (width <= $bp-360) {
    .posts-archive__inner {
        &::after {
            right: $pdd-side-small;
        }

        &::before {
            left: $pdd-side-small;    
        }
    }
}