.projects-home {
    padding-top: $section-margin + $pdd-top-bottom;
    padding-bottom: $pdd-top-bottom;

    background: url('/images/muza_pattern_gray.svg') 50% 20%;
    background-size: 100%;
    border-bottom: 1px solid $gray;
    will-change: background-position;
    animation: bg_move 60s linear infinite;
}

.projects-home__grid {
    margin-top: $pdd-top-bottom;    
}