.project-card {
    @include transition;

    &--01 {
        grid-area: project_01;
    }

    &--02 {
        grid-area: project_02;
    }

    &--03 {
        grid-area: project_03;
    }

    &--04 {
        grid-area: project_04;
    }

    &--05 {
        grid-area: project_05;
    }

    &--06 {
        grid-area: project_06;
    }

    &--hidden {
        display: none;
    }

    &--fade-in {
        display: block;
        opacity: 0;
        animation: fade_in 0.3s ease-in 1 both;
    }
}

.project-card a {
    display: flex;
    flex-direction: column;
    color: $gray;
    height: 100%;

    text-decoration: none;

    &:hover,
    &:focus {
        .project-card__info {
            background-color: $gray-light;
        }

        .progect-card__arrow {
            color: $rust;

            svg {
                stroke: $rust
            }
        }
    }

    &:active {
        color: $gray;
        transform: scale(0.98);
    }    
}

.project-card__info {
    @include transition;

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    height: 100%;
    
    border: 1px solid $gray;
    border-top: none;
    
    backdrop-filter: blur($blur);
}

.project-card__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;

    p {
        margin: 0;
    }
}

.progect-card__arrow {
    color: $gray;

    svg {
        stroke: $gray;
    }
}

@media (width <= $bp-1440) {
    .progect-card__arrow {
        span {
            @include visually-hidden;
        }
    }
}

@media (width <= $bp-990) {
    .project-card {
        grid-area: unset !important;
    }
}

@media (width <= $bp-480) {
    .project-card__info {
        padding: 10px 15px;
    }
}