:root {
    --slider-autoplay-delay: 1s;
}

.slider-wide {
    position: relative;
    height: 100%;
}

.slider-wide__wrapper {
    position: relative;
    z-index: 105;
    height: 100%;
}

.slider-wide__slide {
    position: relative;

    display: grid !important;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: end;
    padding: 0;    
    width: 100%;
    height: 100%;

    overflow: hidden;

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 150;
        mix-blend-mode: multiply;

        width: 100%;
        height: 100%;

        background: linear-gradient(
        0deg,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0.3) 70%,
        rgba(0,0,0,0.7) 100%
        );
        pointer-events: none;
        
        content: '';
    }

    &--animated {
        animation: shake 0.1s forwards;
    }
}

.slider-wide__img-wrapper {
    position: absolute;
    z-index: 120;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider-wide__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);

    &--animated {
        animation: shake 0.45s ease-out;
    }
}

.slider-wide__info {
    @include transition;

    position: relative;
    z-index: 150;

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 25px;
    margin: 0 0 30px 50px;

    background-color: $gray;
    color: $white;   
    border-radius: 10px; 
    opacity: 0;
    pointer-events: none;

    &--title {
        position: absolute;
        z-index: 1000;
        bottom: 0;
        left: 0;
        max-width: calc(50% - 2*$pdd-side);
        border-radius: 20px;

        opacity: 1;
        pointer-events: auto;
    }
}

.slider-wide__info--active {
    pointer-events: auto;
    animation: slide 0.5s ease-out forwards;
}

.slider-wide__more {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        margin: 0 !important;
    }
}

.slider-wide__dots {
    position: absolute;
    z-index: 110;
    bottom: 30px;
    right: 0;
    
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    padding: 0 $pdd-side;
}

.slider-wide__dot {
    @include transition;

    display: flex;
    flex-grow: 1;
    width: auto;
    height: 8px;
    border-radius: 3px;
    background-color: $white;
    overflow: hidden;

    span {
        width: 100%;
        height: 100%;
        background-color: $rust;
        transform-origin: 0 50%;
        opacity: 0;
    }

    &:not(.slider-wide__dot--active) {
        cursor: pointer;        
        
        &:hover,
        &:focus {
            background-color: $rust;
        }
    }

    &--active {
        span {
            animation: dot_fill var(--slider-autoplay-delay) linear forwards;
        }
    }
}

.slider-wide__arrows {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1200;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;    

    pointer-events: none;

    & > * {
        pointer-events: auto;
    }
}

.slider-wide__arrow {
    @include transition;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    border-radius: 50%;
    border: none;
    background: $white;
    cursor: pointer;

    &--reversed {
        transform: rotate(180deg);

        &:active {
            transform: rotate(180deg) scale(0.92) !important;
        }
    }

    &::after {
        display: none;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        border-radius: 50%;
        background-color: $gray;
        filter: blur(15px);
        opacity: 0.5;

        content: '';
    }

    svg {
        @include transition-svg;

        width: 24px;
        height: auto;
        stroke-width: 2px;
        stroke: $gray;
        fill: none;
    }

    &:hover,
    &:focus {
        background-color: $rust;
    }

    &:active {
        transform: scale(0.92);
    }
}

@media (width <= $bp-1024) {
    .slider-wide__info--title {
        margin-bottom: 50px;
        max-width: calc(100% - 2*$pdd-side);
    }

    .slider-wide__dots--single {
        width: 100%;
    }
}

@media (width <= $bp-990) {
    .slider-wide__dots {
        width: 100%;
    }

    .slider-wide__slide {
        grid-template-columns: 1fr;
    }

    .slider-wide__info {
        width: calc(100% - 2*$pdd-side);
        margin-bottom: 50px;
    }
}

@media (width <= $bp-560) {
    .slider-wide__info {
        width: calc(100% - 2*$pdd-side-medium);
        margin: $pdd-top-bottom $pdd-side-medium $pdd-top-bottom + 30px $pdd-side-medium;
        
        &--title {
            max-width: calc(100% - 2*$pdd-side-medium);
        }
    }        

    .slider-wide__dots {
        padding: 0 $pdd-side-medium;
    }
}

@media (width <= $bp-414) {
    .slider-wide__title {
        font-size: 24px;
    }

    .slider-wide__info {
        padding: 10px 15px;
    }
}

@media (width <= $bp-414) {
    .slider-wide__info {
        width: calc(100% - 2*$pdd-side-small);
        padding: 10px 15px;
        margin: $pdd-top-bottom $pdd-side-small $pdd-top-bottom + 30px $pdd-side-small;        
    
        &--title {
            max-width: calc(100% - 2*$pdd-side-small);
            border-radius: 15px;
        }
    }

    .slider-wide__dots {
        padding: 0 $pdd-side-small;
    }

    .slider-wide__more {
        span {
            display: none;
        }
    }
}