.slider-line {
    overflow: visible !important;
}

.slider-line__wrapper {
    display: flex;
    align-items: stretch;    
}

.slider-line__controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
}

.slider-line__arrow {
    padding: 0;
    margin: 0;
    height: 80px;
    background: transparent;
    border-radius: 0;
    border: none;
    cursor: pointer;

    svg {
        @include transition-svg;

        height: 24px;
        fill: none;
        stroke: $gray;
        stroke-width: 1.5px;
    }

    &:hover,
    &:focus {
        background-color: $gray-light;
    }

    &:active {
        svg {
            stroke: $rust;
        }
    }

    &--prev {
        &:hover,
        &:focus {
            svg {
                transform: translateX(-15px);
            }
        }
    }

    &--next {
        &:hover,
        &:focus {
            svg {
                transform: translateX(15px);
            }
        }
    }
}

.slider-line__more {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 350px;

    border-right: 1px solid $gray;
    border-left: 1px solid $gray;
}

@media (width <= $bp-560) {
    .slider-line__card {
        transform: translateX(0) !important;
    }

    .slider-line__controls {
        grid-template-columns: 1fr 1fr;
    }

    .slider-line__more {
        order: 1;
        grid-column: span 2;
        padding-top: 15px;
        border: none;        
        border-top: 1px solid $gray;
    }
    
    .slider-line__controls {
        border-bottom: none;
    }

    .slider-line__arrow--prev {
        border-right: 1px solid $gray;
    }
}

@media (width <= $bp-560) {
    .slider-line__arrow {
        height: 60px;
    }
}