@font-face {
    font-family: 'Onest';
    src: url('../../fonts/Onest.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@keyframes dot_fill {
    0% {
        transform: scaleX(0);
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}

@keyframes bg_move {
    0% {
        background-position: 50% 10%;
    }
    100% {
        background-position: 50% 90%;
    }
}

@keyframes bg_move_2 {
    0% {
        transform: translateY(-2000px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-2000px);
    }    
}

@keyframes slide {
    from {
        transform: translateX(30px);
        opacity: 0;
    } to {  
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes shake {
  0% {
    transform: scale(1.1) translateX(0);
  }
  20% {
    transform: scale(1.1) translateX(-5px);
  }
  40% {
    transform: scale(1.1) translateX(3px);
  }
  60% {
    transform: scale(1.1) translateX(-2px);
  }
  80% {
    transform: scale(1.1) translateX(1px);
  }
  100% {
    transform: scale(1.1) translateX(0);
  }
}

@keyframes bounce_left {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }
    80% {transform: translateX(0px);}
    87% {transform: translateX(5px);}
    94% {transform: translateX(0px);}
    97% {transform: translateX(2px);}
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes bounce_bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    60% {
        transform: translateY(-3px);
    }
    80% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bubble {
    0% {
        transform: scale(0.90);
        opacity: 0;
    }
    70% {
        transform: scale(1.02);
    }
    90% {
        transform: scale(0.97);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fade_in {
    0% {opacity: 0; transform: scale(0.97);}
    90% {opacity: 1; transform: scale(1.01);}
    100% {opacity: 1; transform: scale(1);}    
}

@keyframes like_scroll {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    } 
    95% {  
        transform: translateY(10px);
        opacity: 1;
    }
    100% {
        transform: translateY(10px);
        opacity: 0;
    }
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    position: relative;

    min-width: 360px;
    max-width: 100vw;
    min-height: 100vh;    

    font-family: "Onest", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: $gray;
    text-rendering: optimizeLegibility;

    background-color: white;
    overflow-x: clip;
}

*,
*::after,
*::before {
    box-sizing: border-box;    
}

*::selection {
    color: $gray;
    background-color: $rust;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    @include transition;

    color: $rust;    
    border-radius: 5px;
    text-decoration: underline;
}

a:hover,
a:focus {
    text-decoration: none;
}

a:focus {
    outline: 1px dotted $rust;
    outline-offset: 5px;    
}

a:active {
    color: $brown;
}

button {
    @include transition;
}

button:focus {
    outline: 1px dotted $rust;
    outline-offset: 5px;
}

em, i {
  //font-style: normal !important;
}

p:empty {
  display: none !important;
}

p:first-of-type {
    margin-top: 0;
}

p:last-of-type {
    margin-bottom: 0;
}